<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Product App</title>
</head>
<body>
    <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="image">
            </div>

            <div class="product-info">
                <h1>{{ title }}</h1>
                <h2>Description: {{ description }}</h2>
                <p v-if="onSale">On Sale!</p>
                <p v-if="stock > 10">In stock</p>
                <p v-else-if="stock <= 10 && stock > 0"> Almost out of stock </p>
                <p v-else 
                   :class="[stock < 1 ? 'sutOfStock' : '']">Out of stock</p>
                <p v-show="stock">Current stock: {{ stock }}</p>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <div v-for="(variant, index) in variants" 
                     :key="variant.variantId"
                     class="color-box"
                     :style="{ backgroundColor: variant.variantColor }"
                     @mouseover="updateProduct(index)">
                </div>

                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <button @click="addToCart"
                        :disabled="stock < 1"
                        :class="{ disabledButton: stock < 1 }">Add to Cart</button>
                <button @click="removeFromCart">Remove from Cart</button>

                <div class="cart">
                    <p>Cart ({{ cart }})</p>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue" ></script>
    <script src="main.js"></script>
</body>
</html>